.Sidebar {
    border: 2px dashed var(--text-color);

    width: 25%;

    display: grid;
    grid-template-rows: auto 1fr auto;
}

.Sidebar > * {
    border: 1px dotted var(--text-color);
}

.Sidebar > nav ul {
    list-style-type: none;
}

.Sidebar > nav > ul {
    margin: 0;
    padding: 0;
}
