.SongGallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin: 0 2rem;
    justify-items: center;
}

@media (max-width: 1200px) {
    .SongGallery {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 800px) {
    .SongGallery {
        grid-template-columns: 1fr;
    }
}

.SongGallery-song {
    width: 100%;
    max-width: 500px;
}

.SongGallery-thumbnail {
    width: 100%;
}

.SongGallery-song a {
    color: inherit;
}