.Home {
    display: list-item;
}
.Home div {
    flex-basis: 100%;
    text-align: center;
}
.songButton {
    -webkit-appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: left;
    align-items: flex-start;
    cursor: default;
    background-color: rgb(206, 227, 233);
    box-sizing: content-box;
    width: 75%;
    margin: 0em;
    font: 400 11px system-ui;
    padding: 1px 7px 2px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(216, 216, 216) rgb(216, 216, 216) rgb(216, 216, 216);
    border-image: initial;
}

.HomeHeader {
    text-align: center;
}