.SongBrowser {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin: 0 2rem;
    justify-items: center;
}

.SongBrowser-song {
    background-color: black;
    min-height: 280px;
    width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.SongBrowser-song a {
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: var(--text-color);
    background-color: #0000007f;
}

.HomeHeader {
    text-align: center;
}