.App {
  text-align: center;
}

.button-link {
  background: none;
  border: none;
  padding: none;
  font: inherit;
  color: #0000ee;
  text-decoration: underline;
  cursor: pointer;
}

.button-link:hover {
  font-weight: bold;
}
