/* TODO: change ul into a flexbox */

.sidenav ul {
    list-style-type: none;
}

.sidenav > ul {
    margin: 0;
    padding: 0;
}

.sidenav li {
    display: block;
    margin: 0;
    padding: 0;
}

.sidenav li > ul {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.langbutton {
    background: none;
    border: none;
    padding: 0;
    color: inherit;
    font-size: inherit;
}

.langbutton-sel {
    font-weight: 900;
}

.langbutton:hover {
    cursor: pointer;
}
